---
layout: layout.liquid
pagination:
  data: collections.recipes_by_category
  size: 1
  alias: item
permalink: "recipes/category/{{ item.category.uid }}/{% if item.pagination.pageNumber > 0 %}page/{{ item.pagination.pageNumber | plus: 1 }}/{% endif %}"
---

<section class="section-padding page-section">
  <div class="flex flex-col gap-4">
    <h1 class="text-coffee text-h1-lg font-serif font-medium">
      {{ item.category.data.name }}
    </h1>
    <div class="text-h5 text-mocha font-serif font-medium">
      Recipes
    </div>
  </div>
  {% render "separator"
    , classes: "rainbow-gradient" %}
  {% render "templates/post_list"
    , posts: item.recipes
    , post_type: "recipes"
    , pagination: item.pagination
    , post_link_text: "Make this recipe" %}
</section>