<nav
  id="navi"
  aria-label="Main navigation"
  class="flex items-center gap-8 w-full text-coffee font-medium font-serif">
  <a
    href="/"
    aria-label="Home"
    {% if slug == "" %}
    aria-current="page"
    {% endif %}
    class="block relative z-20">
    {% render "logo" %}
  </a>
  <button
    class="cursor-pointer hidden ml-auto relative z-20 max-sm:flex max-sm:items-baseline max-sm:gap-2"
    aria-expanded="false"
    aria-controls="navi"
    id="navi-control">
    Menu
    {% render "svg/arrow_down" %}
  </button>
  <div id="navi-menu" class="flex flex-1 items-center justify-between w-full max-sm:fixed max-sm:inset-0 max-sm:bg-slate max-sm:z-10 max-sm:flex-col max-sm:justify-center max-sm:gap-16 max-sm:pointer-events-none max-sm:opacity-0">
    <ul class="flex items-center gap-4 max-sm:text-h6 max-sm:flex-col max-sm:gap-8">
      {% for link in navi %}
        <li>
          <a
            href="/{{ link }}/"
            {% if slug == link %}
            aria-current="page"
            class="border-b border-inherit"
            {% endif %}>{{ link | capitalize }}</a>
        </li>
      {% endfor %}
    </ul>
    {% render "social" %}
  </div>
</nav>