<ul class="flex items-center gap-6{% if classes %} {{ classes }}{% endif %}">
  <li>
    <a
      href="{{ site.eventbrite_page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <img
        src="/assets/eventbrite.png"
        alt="Eventbrite"
        width="24"
        height="24" />
    </a>
  </li>
  <li>
    <a
      href="{{ site.facebook_page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <img
        src="/assets/facebook.png"
        alt="Facebook"
        width="24"
        height="24" />
    </a>
  </li>
</ul>