---
layout: layout.liquid
title: Blog
---

<section class="section-padding flex flex-col gap-16">
  <h1 class="text-coffee text-h1 font-serif font-medium text-center">Blog</h1>

  <div class="flex flex-col gap-8 justify-center max-w-xl mx-auto text-center">
    {% for post in posts %}
      <article>
        <a class="text-dark-olive hover:text-black-olive transition-colors" href="/blog/{{ post.uid }}/">
          <h5 class="font-serif font-medium text-h5">{{ post.data.title | asText }}</h5>
        </a>
      </article>
    {% endfor %}
  </div>
</section>