---
layout: layout.liquid
title: Blog
pagination:
  data: posts
  size: 10
permalink: "blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
---

<section class="section-padding page-section">
  <div class="text-coffee text-h1-lg font-serif font-medium text-center">
    {{ blog_page.data.title | asHTML }}
  </div>
  {% render "separator" %}
  {% render "templates/post_list"
    , posts: pagination.items
    , post_type: "blog"
    , pagination: pagination
    , post_link_text: "Read this blog post" %}
</section>