---
layout: layout.liquid
title: Blog
---

<section class="section-padding flex flex-col gap-16">
  <h1 class="text-coffee text-h1 font-serif font-medium text-center">Blog</h1>

  <div class="grid grid-cols-1 sm:grid-cols-[repeat(2,1fr)] lg:grid-cols-[repeat(3,1fr)] gap-8 justify-center max-w-[1440px] mx-auto">
    {% for post in posts %}
      <article>
        <a class="text-dark-olive hover:text-black-olive transition-colors flex flex-col gap-4" href="/blog/{{ post.uid }}/">
          {% if post.data.image.url %}
            <div class="img aspect-video">
              {% render "partials/image"
                , image: post.data.image %}
            </div>
          {% endif %}
          <h5 class="font-serif font-medium text-h5 text-coffee">{{ post.data.title | asText }}</h5>
        </a>
      </article>
    {% endfor %}
  </div>
</section>