---
layout: layout.liquid
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "/blog/{{ post.uid }}/"
eleventyComputed:
  title: "{{ post.data.title | asText }}"
---

<article class="flex flex-col">
  {% if post.data.image.url %}
    <div class="masthead-padding text-left md:text-center">
      <h1 class="text-coffee text-h1 font-serif font-medium">{{ post.data.title | asText }}</h1>
    </div>
    <div class="px-6 sm:px-8">
      <div class="img aspect-video">
        {% render "partials/image"
          , image: post.data.image
          , sizes: "100vw"
          , loading: "eager"
          , classes: "w-full h-full object-cover" %}
      </div>
    </div>
  {% endif %}
  {% if post.data.image.url %}
  {% else %}
    <div class="masthead-padding text-left md:text-center">
      <h1 class="text-coffee text-h1 font-serif font-medium">{{ post.data.title | asText }}</h1>
    </div>
  {% endif %}
  <section class="article-padding w-full max-w-[768px] mx-auto flex flex-col gap-16">
    {% render "partials/rich_text"
      , body: post.data.content
      , center_text: post.data.center_text %}
  </section>
</article>