---
layout: layout.liquid
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "/blog/{{ post.uid }}/"
eleventyComputed:
  title: "{{ post.data.title | asText }}"
---

<article class="cms section-padding flex flex-col gap-16">
  <header class="w-full max-w-xl mx-auto">
    <h1 class="text-coffee">{{ post.data.title | asText }}</h1>
  </header>
  <div class="w-full max-w-xl mx-auto">
    {% render "partials/rich_text"
      , body: post.data.content %}
  </div>
</article>