---
layout: layout.liquid
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "/blog/{{ post.uid }}/"
eleventyComputed:
  title: "{{ post.data.title | asText }}"
---

<article class="cms section-padding flex flex-col gap-16 w-full max-w-[768px] mx-auto">
  <h1 class="text-coffee text-h2 w-full">{{ post.data.title | asText }}</h1>
  <div class="w-full">
    {% render "partials/rich_text"
      , body: post.data.content %}
  </div>
</article>