<section id="gallery" class="hero">
  <div class="absolute z-1 w-full h-full top-0 left-0">
    {% for item in gallery %}
      {% assign loading = "lazy" %}
      {% assign alt = "Hero image for Miss Jenny's School" %}
      {% assign classes = "gallery-item" %}
      {% assign jslazy = false %}

      {% if forloop.first %}
        {% assign loading = "eager" %}
        {% assign classes = classes | append: " gallery-item-current" %}
      {% endif %}

      {% if forloop.index != 1 %}
        {% assign classes = classes | append: " gallery-item-staged" %}
        {% assign jslazy = true %}
      {% endif %}

      {% render "partials/image"
        , alt: alt
        , image: item.image
        , sizes: "100vw"
        , loading: loading
        , classes: classes
        , jslazy: jslazy %}
    {% endfor %}
  </div>
  {% render "scrim" %}
  <div class="relative z-3 text-h1-lg font-serif font-medium text-center text-white shadow-text">
    {{ title | asHTML }}
  </div>
  {% if subtitle %}
    <h2 class="relative z-3 text-h5 font-serif font-medium text-center text-white shadow-text">
      &mdash;&nbsp;{{ subtitle | asText }}&nbsp;&mdash;
    </h2>
  {% endif %}
</section>