{% assign item_classes = "absolute z-1 w-full h-full top-0 left-0 object-cover" %}

<section id="gallery" class="relative overflow-hidden px-8 h-[42vw] flex items-center justify-center max-lg:h-[60vw] max-md:h-[80vw] max-sm:px-4 max-xsm:h-[100vw]">
  <div class="absolute z-1 w-full h-full top-0 left-0">
    {% for item in gallery -%}
      {% assign loading = "lazy" %}
      {% if forloop.first %}
        {% assign loading = "eager" %}
      {% endif %}

      {% assign alt = "Hero image for Miss Jenny's School" %}

      {% assign classes = item_classes %}

      {% if forloop.index != 1 %}
        {% assign classes = classes | append: " opacity-0" %}
      {% endif %}

      {% assign classes = classes | append: " transition-opacity ease-in-out duration-1000 motion-reduce:transition-none" %}

      {% render "partials/image"
        , alt: alt
        , image: item.image
        , sizes: "100vw"
        , loading: loading
        , classes: classes %}
    {% endfor %}
  </div>
  <div class="absolute z-2 top-0 left-0 w-full h-full bg-coffee/40" aria-hidden="true"></div>
  <div class="relative z-3 text-center text-pearl shadow-text">
    {{ title | asHTML }}
  </div>
</section>