<ul class="flex items-center gap-6{% if classes %} {{ classes }}{% endif %}">
  <li>
    <a
      href="{{ site.eventbrite_page.url }}"
      title="Eventbrite"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Eventbrite">
      {% render "svg/calendar_event" %}
    </a>
  </li>
  <li>
    <a
      href="{{ site.facebook_page.url }}"
      title="Facebook"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook">
      {% render "svg/facebook" %}
    </a>
  </li>
</ul>