---
layout: layout.liquid
title: About
---

<section class="section-padding page-section">
  <h1 class="text-coffee text-h1-lg font-serif font-medium">About</h1>

  {% render "separator" %}
</section>