---
layout: layout.liquid
title: Tuition
---

<section class="section-padding page-section">
  <h1 class="text-coffee text-h1-lg font-serif font-medium">
    {{ tuition_page.data.title | asText }}
  </h1>

  {% render "separator" %}

  {% render "partials/rich_text"
    , body: tuition_page.data.body
    , classes: "w-full max-w-lg mx-auto" %}
</section>