<!doctype html>
<html lang="en">
  <head>
    {% render "metadata", site: site %}
    <title>{% if title %}{{ title }} | {% endif %}{{ site.title }}</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer></footer>
  </body>
</html>