@import "tailwindcss";

/* tailwindcss layer order */
/* @layer theme, base, components, utilities; */

@theme {
  /* Colors */
  --color-beaver: #8a6c61;
  --color-khaki: #bda891;
  --color-pale-taupe: #c1bcad;
  --color-light-taupe: #b6ab90;
  --color-warm-gray: #96958b;
  --color-sage: #bab792;
  --color-dark-olive: #686961;
  --color-pearl: #e5ddd5;
  --color-tan: #d3c5b0;
  --color-cream: #efe7cf;
  --color-eggshell: #eadfcf;
  --color-silver: #b5aea2;
  --color-dust: #a2937e;
  --color-pewter: #a0a197;
  --color-mocha: #8a776b;
  --color-caramel: #b78e70;
  --color-ash: #adaea5;
  --color-copper: #c08a6e;
  --color-slate: #8a9182;
  --color-coffee: #5d4b37;

  /* Fonts */
  --font-sans: "Atkinson Hyperlegible", sans-serif;
  --font-serif: "Kiwi Maru", serif;

  /* Typescale */
  /* Max: 1.250 Major Third */
  /* Min: 1.067 Minor Second */
  --text-h1: clamp(1.476rem, 10vw, 4rem);
  /* --text-h1: clamp(1.476rem, 10vw, 3.815rem); */
  --text-h2: clamp(1.383rem, 9vw, 3.052rem);
  --text-h3: clamp(1.296rem, 8vw, 2.441rem);
  --text-h4: clamp(1.215rem, 7vw, 1.953rem);
  --text-h5: clamp(1.138rem, 6vw, 1.563rem);
  --text-h6: clamp(1.067rem, 5vw, 1.25rem);

  /* Breakpoints */
  --breakpoint-xsm: 30rem;
}

@layer base {
  h1 {
    @apply text-h1 font-serif text-coffee;
  }

  h2 {
    @apply text-h2 font-serif text-coffee;
  }

  h3 {
    @apply text-h3 font-serif text-coffee;
  }

  h4 {
    @apply text-h4 font-serif text-coffee;
  }

  h5 {
    @apply text-h5 font-serif text-coffee;
  }

  h6 {
    @apply text-h6 font-serif text-coffee;
  }

  p {
    @apply font-sans text-base;
  }

  em {
    @apply italic;
  }
}

@layer components {
  .home {
    --bg-y: 0;
    /* background-image: url("/assets/music-notes.png"); */
    background-size: 500px 500px;
    background-position: center var(--bg-y);
    background-repeat: repeat;
    background-attachment: fixed;
  }

  /* Used for embeds: src/_includes/templates/embed.liquid */
  .embed {
    iframe {
      @apply absolute inset-0 w-full h-full;
    }
  }

  /* Used for CMS content: src/_includes/templates/rich_text.liquid */
  .cms {
    ul {
      @apply list-disc ml-4;
    }

    ol {
      @apply list-decimal ml-4;
    }
  }
}

@layer utilities {
  .shadow-text {
    text-shadow: 0 4px 8px var(--color-coffee);
  }
}
