@import "tailwindcss";

/* tailwindcss layer order */
/* @layer theme, base, components, utilities; */

@theme {
  /* Colors */
  --color-beaver: #8a6c61;
  --color-khaki: #bda891;
  --color-pale-taupe: #c1bcad;
  --color-light-taupe: #b6ab90;
  --color-warm-gray: #96958b;
  --color-sage: #bab792;
  --color-dark-olive: #686961;
  --color-pearl: #e5ddd5;
  --color-tan: #d3c5b0;
  --color-cream: #efe7cf;
  --color-eggshell: #eadfcf;
  --color-silver: #b5aea2;
  --color-dust: #a2937e;
  --color-pewter: #a0a197;
  --color-mocha: #8a776b;
  --color-caramel: #b78e70;
  --color-ash: #adaea5;
  --color-copper: #c08a6e;
  --color-slate: #8a9182;
  --color-coffee: #5d4b37;

  /* Fonts */
  --font-sans: "Atkinson Hyperlegible", sans-serif;
  --font-serif: "Kiwi Maru", serif;

  /* Typescale */
  --text-p: 1.0625rem;
  --text-h1-max: 4rem;
  --text-h2-max: 3.052rem;
  --text-h3-max: 2.441rem;
  --text-h4-max: 1.953rem;
  --text-h5-max: 1.563rem;
  --text-h6-max: 1.25rem;
  --text-h1-min: 2.441rem;
  --text-h2-min: 1.383rem;
  --text-h3-min: 1.296rem;
  --text-h4-min: 1.215rem;
  --text-h5-min: 1.138rem;
  --text-h6-min: 1.067rem;
  --text-h1: clamp(var(--text-h1-min), 4.444vw, var(--text-h1-max));
  --text-h2: clamp(var(--text-h2-min), 3.333vw, var(--text-h2-max));
  --text-h3: clamp(var(--text-h3-min), 2.708vw, var(--text-h3-max));
  --text-h4: clamp(var(--text-h4-min), 2.153vw, var(--text-h4-max));
  --text-h5: clamp(var(--text-h5-min), 1.736vw, var(--text-h5-max));
  --text-h6: clamp(var(--text-h6-min), 1.388vw, var(--text-h6-max));

  /* Breakpoints */
  --breakpoint-xsm: 30rem;
}

@layer base {
}

@layer components {
  /* .home {
    --bg-y: 0;
    background-image: url("/assets/music-notes.png");
    background-size: 500px 500px;
    background-position: center var(--bg-y);
    background-repeat: repeat;
    background-attachment: fixed;
  } */

  /* Hero */
  .hero {
    @apply relative overflow-hidden px-4 sm:px-8 flex items-center justify-center border-b border-silver h-[100vw] xsm:h-[80vw] md:h-[60vw] lg:h-[42vw];
  }

  /* Gallery */
  .gallery-item {
    @apply absolute z-1 w-full h-full top-0 left-0 object-cover transition-opacity ease-in-out duration-1000 motion-reduce:transition-none;
  }

  .gallery-item-current {
    @apply opacity-100;
  }

  .gallery-item-staged {
    @apply opacity-0;
  }

  /* Text Rotator */
  .rotator-mask {
    /* default width */
    --rotator-mask-width: auto;
    @apply w-(--rotator-mask-width) relative overflow-hidden flex flex-col whitespace-nowrap transition-[width] duration-300 motion-reduce:transition-none;
  }

  .rotator {
    @apply flex items-center justify-center w-full text-h1 text-white;
  }

  .rotator-item {
    @apply font-bold italic text-left pl-4 md:pl-6 pr-4 transition-all duration-300 motion-reduce:transition-none;
  }

  .rotator-item-current {
    @apply relative ease-out opacity-100;
  }

  .rotator-item-staged {
    @apply absolute ease-in top-0 left-0 translate-y-[20px] opacity-0;
  }

  .rotator-item-staged-enter {
    @apply translate-y-0 opacity-100;
  }

  .rotator-item-staged-exit {
    @apply -translate-y-[20px] opacity-0;
  }

  /* Used for embeds: src/_includes/templates/embed.liquid */
  .embed {
    iframe {
      @apply absolute inset-0 w-full h-full;
    }
  }

  /* Used for CMS content: src/_includes/templates/rich_text.liquid */
  .cms {
    h1 {
      @apply text-h1 font-serif;
    }

    h2 {
      @apply text-h2 font-serif;
    }

    h3 {
      @apply text-h3 font-serif;
    }

    h4 {
      @apply text-h4 font-serif;
    }

    h5 {
      @apply text-h5 font-serif;
    }

    h6 {
      @apply text-h6 font-serif;
    }

    p {
      @apply font-sans text-base;
    }

    em {
      @apply italic;
    }

    ul {
      @apply list-disc ml-4;
    }

    ol {
      @apply list-decimal ml-4;
    }
  }
}

@layer utilities {
  .shadow-text {
    text-shadow: 0 4px 8px var(--color-coffee);
  }

  .section-padding {
    @apply py-16 px-6 sm:py-24 sm:px-8;
  }

  .rainbow-gradient {
    background: linear-gradient(
      to left,
      #aba1ba 0%,
      #c0c8d2 17%,
      #c2c3a1 33%,
      #e7c58d 50%,
      #f0b179 67%,
      #dba386 83%,
      #e9b5a9 100%
    );
  }
}
