---
layout: layout.liquid
title: Oops! Not Found
permalink: 404.html
---

<section class="section-padding page-section">
  <h1 class="text-h1 font-serif font-medium text-center">{{ title }}</h1>

  {% render "separator" %}

  <p class="text-p">
    Looks like you have taken a wrong turn, don't worry, it happens to the best of us.
  </p>

  <a href="/" class="btn block bg-copper border-beaver hover:bg-caramel">
    Return to the home page
  </a>
</section>