---
layout: layout.liquid
slug: ""
class: home
script: "home"
---

{% if home.use_hero %}
  {% render "templates/hero"
    , hero: home.hero
    , title: home.title %}
{% else %}
  {% render "templates/gallery"
    , gallery: home.gallery
    , title: home.title %}
{% endif %}

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4 flex flex-col items-center gap-12">
  <h5 class="text-center text-dark-olive max-w-[768px]">
    {{ home.description }}
  </h5>
  <a href="/about/" class="block px-6 py-2 rounded-lg bg-copper text-center text-white">
    Learn more
  </a>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4 bg-dark-olive">
  <p class="text-pearl text-center">[Pillars]</p>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4">
  <p class="text-dark-olive text-center">[Values]</p>
</section>