---
layout: layout.liquid
slug: ""
class: home
---

<section class="text-center flex flex-col items-center gap-16 mx-auto max-w-[540px] max-sm:gap-10">
  <h1>{{ home.title | asText }}</h1>

  <p>
    {{ home.description }}
  </p>

  <div class="h-50 w-full bg-silver rounded flex items-center justify-center">
    <p class="text-white">Silver</p>
  </div>
  <div class="h-50 w-full bg-khaki rounded flex items-center justify-center">
    <p class="text-white">Khaki</p>
  </div>
  <div class="h-50 w-full bg-pale-taupe rounded flex items-center justify-center">
    <p class="text-white">Pale Taupe</p>
  </div>
  <div class="h-50 w-full bg-light-taupe rounded flex items-center justify-center">
    <p class="text-white">Light Taupe</p>
  </div>
  <div class="h-50 w-full bg-warm-gray rounded flex items-center justify-center">
    <p class="text-white">Warm Gray</p>
  </div>
  <div class="h-50 w-full bg-sage rounded flex items-center justify-center">
    <p class="text-white">Sage</p>
  </div>
  <div class="h-50 w-full bg-dark-olive rounded flex items-center justify-center">
    <p class="text-white">Dark Olive</p>
  </div>
  <div class="h-50 w-full bg-pearl rounded flex items-center justify-center">
    <p class="text-white">Pearl</p>
  </div>
  <div class="h-50 w-full bg-tan rounded flex items-center justify-center">
    <p class="text-white">Tan</p>
  </div>
  <div class="h-50 w-full bg-cream rounded flex items-center justify-center">
    <p class="text-white">Cream</p>
  </div>
  <div class="h-50 w-full bg-eggshell rounded flex items-center justify-center">
    <p class="text-white">Eggshell</p>
  </div>
  <div class="h-50 w-full bg-silver rounded flex items-center justify-center">
    <p class="text-white">Silver</p>
  </div>
  <div class="h-50 w-full bg-beaver rounded flex items-center justify-center">
    <p class="text-white">Beaver</p>
  </div>
  <div class="h-50 w-full bg-dust rounded flex items-center justify-center">
    <p class="text-white">Dust</p>
  </div>
  <div class="h-50 w-full bg-mocha rounded flex items-center justify-center">
    <p class="text-white">Mocha</p>
  </div>
  <div class="h-50 w-full bg-caramel rounded flex items-center justify-center">
    <p class="text-white">Caramel</p>
  </div>
  <div class="h-50 w-full bg-ash rounded flex items-center justify-center">
    <p class="text-white">Ash</p>
  </div>
  <div class="h-50 w-full bg-copper rounded flex items-center justify-center">
    <p class="text-white">Copper</p>
  </div>
  <div class="h-50 w-full bg-slate rounded flex items-center justify-center">
    <p class="text-white">Slate</p>
  </div>
  <div class="h-50 w-full bg-coffee rounded flex items-center justify-center">
    <p class="text-white">Coffee</p>
  </div>
</section>