---
layout: layout.liquid
slug: ""
class: home
---

<section class="relative overflow-hidden h-[42vw] flex items-center justify-center max-lg:h-[60vw] max-md:h-[80vw] max-xsm:h-[100vw]">
  {% render "templates/image"
    , image: home.hero_2
    , sizes: "100vw"
    , classes: "absolute z-1 w-[calc(100%+20vw)] max-w-[calc(100%+20vw)] h-full top-0 left-[-10vw] object-cover object-[bottom_-4vw_left_0] max-md:object-bottom" %}
  {% comment %} {% render "templates/image"
        , image: home.hero
        , sizes: "100vw"
      , classes: "absolute z-1 w-full h-full top-0 left-0 object-cover object-[bottom_-12vw_left_0] max-md:object-bottom" %} {% endcomment %}
  <div class="absolute z-2 top-0 left-0 w-full h-full bg-coffee/40" aria-hidden="true"></div>
  <h1 class="relative z-3 mx-auto max-w-[540px] text-center text-pearl shadow-text">
    {{ home.title | asText }}
  </h1>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4 flex flex-col items-center gap-12">
  <h5 class="text-center text-dark-olive max-w-[768px]">
    {{ home.description }}
  </h5>
  <a href="/about/" class="block px-6 py-2 rounded-lg bg-copper text-center text-white">
    Learn more
  </a>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4 bg-dark-olive">
  <p class="text-pearl text-center">[Pillars]</p>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4">
  <p class="text-dark-olive text-center">[Gallery]</p>
</section>