---
layout: layout.liquid
slug: ""
class: home
script: "home"
---

{% comment %} Default classes {% endcomment %}
{% assign item_classes = "absolute z-1 w-full h-full top-0 left-0 object-cover object-bottom max-md:object-bottom" %}

{% comment %} Specific classes for each item... {% endcomment %}
{% assign item_1_classes = "absolute z-1 w-full h-full top-0 left-0 object-cover object-[bottom_-12vw_left_0] max-md:object-bottom" %}
{% assign item_2_classes = "absolute z-1 w-[calc(100%+20vw)] max-w-[calc(100%+20vw)] h-full top-0 left-[-10vw] object-cover object-[bottom_-4vw_left_0] max-md:object-bottom" %}
{% assign item_3_classes = "absolute z-1 w-full h-full top-0 left-0 object-cover object-[bottom_-9vw_left_0] max-md:object-bottom" %}
{% assign item_4_classes = "absolute z-1 w-full h-full top-0 left-0 object-cover object-[bottom_-15vw_left_0] max-md:object-bottom" %}
{% assign item_5_classes = "absolute z-1 w-full h-full top-0 left-0 object-cover object-[bottom_-11vw_left_0] max-md:object-bottom" %}

<section id="gallery" class="relative overflow-hidden px-8 h-[42vw] flex items-center justify-center max-lg:h-[60vw] max-md:h-[80vw] max-sm:px-4 max-xsm:h-[100vw]">
  <div class="absolute z-1 w-full h-full top-0 left-0">
    {% for item in home.gallery -%}
      {% assign loading = "lazy" %}
      {% if forloop.first %}
        {% assign loading = "eager" %}
      {% endif %}

      {% assign alt = "Hero image for Miss Jenny's School" %}

      {% case forloop.index %}
        {% when 1 %}
          {% assign classes = item_1_classes %}
        {% when 2 %}
          {% assign classes = item_2_classes %}
        {% when 3 %}
          {% assign classes = item_3_classes %}
        {% when 4 %}
          {% assign classes = item_4_classes %}
        {% when 5 %}
          {% assign classes = item_5_classes %}
      {% endcase %}

      {% if forloop.index != 1 %}
        {% assign classes = classes | append: " opacity-0" %}
      {% endif %}

      {% assign classes = classes | append: " transition-opacity ease-in-out duration-1000 motion-reduce:transition-none" %}

      {% render "templates/image"
        , alt: alt
        , image: item.image
        , sizes: "100vw"
        , loading: loading
        , classes: classes %}
    {% endfor %}
  </div>
  <div class="absolute z-2 top-0 left-0 w-full h-full bg-coffee/40" aria-hidden="true"></div>
  <h1 class="relative z-3 mx-auto max-w-[540px] text-center text-pearl shadow-text">
    {{ home.title | asText }}
  </h1>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4 flex flex-col items-center gap-12">
  <h5 class="text-center text-dark-olive max-w-[768px]">
    {{ home.description }}
  </h5>
  <a href="/about/" class="block px-6 py-2 rounded-lg bg-copper text-center text-white">
    Learn more
  </a>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4 bg-dark-olive">
  <p class="text-pearl text-center">[Pillars]</p>
</section>

<section class="py-24 px-8 max-sm:py-16 max-sm:px-4">
  <p class="text-dark-olive text-center">[Values]</p>
</section>